# CoolSMS (Solapi) API 설정
# https://console.coolsms.co.kr/ 에서 발급받은 API 키를 입력하세요

COOLSMS_API_KEY=your_api_key_here
COOLSMS_API_SECRET=your_api_secret_here
COOLSMS_SENDER_NUMBER=01065296242
COOLSMS_RECEIVER_NUMBER=01065296242
